body {
  text-align: center;
  background-color: #00247C;
  color: #DA6710;
}

#stocks {
  width: 800px;
  margin: auto;
  color: #000A3D;
  background-color: #717AFD;
  padding: 15px;
  border-radius: 10px;
  border: 5px solid #000A3D;
}

table {
  width: 300px;
  margin: auto;
}

th {
  text-align: left;
}

td:first-of-type {
  text-align: left;
}

.number {
  text-align: right;
}

#order {
  width: 300px;
  margin: auto;
}

#order label {
  display: block;
}

canvas {
  background-color: #DFDBFF;
}